*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.chat {
	position: relative;
	flex-direction: column;
	background: #3d3d3d;
	height: 480px;
}

.chat-list-header {
	display: inline-flex;
	width: 100%;
	background: #000000 ;
	align-items: center;
	height: 60px;
	padding: 0px 10px;
}