<div class="container">
    <div class="chat">
        <div class="chat-header">
            <div class="profile">
                <div class="left">
                    <img src="assets/img/pp.jpg" class="pp" />
                    <h2>Huỳnh Văn Hữu Ân</h2>
                </div>
            </div>
            <div class="navbar" id="menu">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <span class="btn btn-success" (click)="join()"  role="button">Join Room</span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger" (click)="leave()" role="button">Leave Room</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="chat-box">
            <div class="chat-r">
                <div class="sp"></div>
                <div class="mess mess-r">
                    <p>
                        <img src="assets/img/emoji1.png" class="emoji" />
                        Chào Ân
                    </p>
                </div>
            </div>
            <div class="chat-l">
                <div class="mess">
                    <p>
                        Chào bạn
                        <img src="assets/img/emoji2.png" class="emoji" />
                    </p>
                </div>
                <div class="sp"></div>
            </div>

            <div class="chat-r">
                <div class="sp"></div>
                <div class="mess mess-r">
                    <p>Hôm nay Ân cảm thấy thế nào ?</p>
                </div>
            </div>
            <div class="chat-l">
                <div class="mess">
                    <p>Hôm nay mình khỏe, còn bạn ?</p>
                </div>
                <div class="sp"></div>
            </div>

            <div class="chat-r">
                <div class="sp"></div>
                <div class="mess mess-r">
                    <p>Mình cũng khỏe. Lát Ân có đi chơi đá banh không</p>
                </div>
            </div>
            <div class="chat-l">
                <div class="mess">
                    <p>Có. Nếu trời đẹp thì mình đi</p>
                </div>
                <div class="sp"></div>
            </div>
            <div class="chat-r">
                <div class="sp"></div>
                <div class="mess mess-r">
                    <p>
                        Hôm qua mình có coi dự báo thời tiết. Họ bảo nay trời
                        đẹp
                    </p>
                </div>
            </div>
            <div class="chat-l">
                <div class="mess">
                    <p>
                        Thế thì đi chơi thôi
                        <img src="assets/img/heart.png" class="emoji" />
                    </p>
                </div>
                <div class="sp"></div>
            </div>
            <div class="chat-r">
                <div class="sp"></div>
                <div class="mess mess-r">
                    <p>Ok Ân nha.</p>
                </div>
            </div>
        </div>

        <div class="chat-footer">
            <textarea placeholder="Type a message"></textarea>
            <img src="assets/img/emo.png" class="emo" />
            <img src="assets/img/tamgiac2.jpg" class="pass" />
        </div>
    </div>
</div>
