<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FrontendProject</title>
	<link rel="stylesheet" href="chat-content.component.css">
</head>
<body>
	<div class="container">
		<div class="chat">
			<div class="chat-header">
				<div class="profile">
					<div class="left">
						<img src="img/arrow.png" class="arrow">
						<img src="img/pp.jpg" class="pp">
						<h2>Huỳnh Văn Hữu Ân</h2>
						<span>online</span>
					</div>
					<div class="right">
						<img src="img/video.png" class="icon">
						<img src="img/phone.png" class="icon">
						<img src="img/more.png" class="icon">
					</div>
				</div>
			</div>
			<div class="chat-box">
				<div class="chat-r">
					<div class="sp"></div>
					<div class="mess mess-r">
						<p><img src="img/emoji-1.png" class="emoji">
                            Chào Ân
						</p>
						<div class="check">
							<span>4:00 PM</span>
							<img src="img/check.png">
						</div>
					</div>
				</div>
				<div class="chat-l">
					<div class="mess">
						<p>
                            Chào bạn <img src="img/emoji-2.png" class="emoji">
						</p>
						<div class="check">
							<span>4:00 PM</span>
						</div>
					</div>
					<div class="sp"></div>
				</div>

				<div class="chat-r">
					<div class="sp"></div>
					<div class="mess mess-r">
						<p>
                           Hôm nay Ân cảm thấy thế nào ?
						</p>
						<div class="check">
							<span>4:00 PM</span>
							<img src="img/check.png">
						</div>
					</div>
				</div>
				<div class="chat-l">
					<div class="mess">
					    <p>Hôm nay mình khỏe, còn bạn ?</p>
						<div class="check">
							<span>4:00 PM</span>
						</div>
					</div>
					<div class="sp"></div>
				</div>

				<div class="chat-r">
					<div class="sp"></div>
					<div class="mess mess-r">
						<p>
                           Mình cũng khỏe. Lát Ân có đi chơi đá banh không
						</p>
						<div class="check">
							<span>4:00 PM</span>
							<img src="img/check.png">
						</div>
					</div>
				</div>
				<div class="chat-l">
					<div class="mess">
						<p>
                            Có. Nếu trời đẹp thì mình đi
						</p>
						<div class="check">
							<span>4:00 PM</span>
						</div>
					</div>
					<div class="sp"></div>
				</div>
				<div class="chat-r">
					<div class="sp"></div>
					<div class="mess mess-r">
						<p>Hôm qua mình có coi dự báo thời tiết. Họ bảo nay trời đẹp</p>
						<div class="check">
							<span>4:00 PM</span>
							<img src="img/check.png">
						</div>
					</div>
				</div>
				<div class="chat-l">
					<div class="mess">
						<p>
                           Thế thì đi chơi thôi <img src="img/heart.png"  class="emoji">
						</p>
						<div class="check">
							<span>4:00 PM</span>
						</div>
					</div>
					<div class="sp"></div>
				</div>
				<div class="chat-r">
					<div class="sp"></div>
					<div class="mess mess-r">
						<p>
                           Ok Ân nha.
						</p>
						<div class="check">
							<span>4:00 PM</span>
							<img src="img/check.png">
						</div>
					</div>
				</div>
			</div>

			<div class="chat-footer">	
				<div class="icons">
					<img src="img/attach file.png">
					<img src="img/camera.png">
				</div>
				<textarea placeholder="Type a message"></textarea>
				<img src="img/emo.png" class="emo">
				<img src="img/mic.png" class="mic">
			</div>
		</div>
	</div>	
</body>
</html>