<div class="chat-content">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <span class="navbar-brand ms-4 text-light bg-transparent border-0" id="to"></span>
        </div>
    </nav>
    <div #scrollMe id="chat">
        <p class={{chat.className}} *ngFor="let chat of chatHistory">{{chat.name}}: {{chat.mes}}</p>
    </div>
    <div class="chat-footer">
        <form (ngSubmit)="sendMessage();" onSubmit="return false;">
            <input class="form-control" type="text" name="message" [(ngModel)]="message" placeholder="Type your message"/>
            <!-- <img src="assets/img/emo.png" class="emo" /> -->
            <img src="assets/img/tamgiac2.jpg" class="pass" (click)="sendMessage()"/>
        </form>
    </div>
</div>  