<div class="chat-content">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <span class="navbar-brand ms-4 text-light user" href="#">Chat mate</span>
        </div>
    </nav>
    <div class="chat-box">
        <p class="message send">Chào Ân</p>
        <p class="message receive">Chào bạn</p>
        <p class="message send">Chào Ân </p>
        <p class="message receive">Chào bạn</p>
        <p class="message send">Chào Ân </p>
        <p class="message receive">Chào bạn</p>
        <p class="message send">Chào Ân </p>
        <p class="message receive">Chào bạn</p>
        <p class="message send">Chào Ân </p>
        <p class="message receive">Chào bạn</p>
        <p class="message send">Chào Ân </p>
        <p class="message receive">Chào bạn</p>
        <p class="message send">Chào Ân </p>
        <p class="message receive">Chào bạn</p>
        <p class="message send">Chào Ân </p>
        <p class="message receive">Chào bạn</p>
        <p class="message send">Chào Ân </p>
        <p class="message receive">Chào bạn</p>
    </div>

    <div class="chat-footer">
        <span>To: <b class="user">chat mate</b></span>
        <textarea id="message" placeholder="Type a message"></textarea>
        <!-- <img src="assets/img/emo.png" class="emo" /> -->
        <img src="assets/img/tamgiac2.jpg" class="pass" />
    </div>
</div>