<div class="personal-chat">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand ms-2 font-weight-bold text-light" href="#">Personal</a>
            <div class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Username" [(ngModel)]="username">
                <button class="btn btn-warning me-2" (click)="findPeople()">Find</button>
            </div>
        </div>
    </nav>
    <div class="list-group">
        <button class="list-group-item list-group-item-action" (click)="getPeopleChatMessage(people.name)" *ngFor="let people of peopleList">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ people.name }}</h5>
            </div>
            <p class="mb-1">{{ people.mes }}</p>
        </button>
    </div>
</div>